name: 04 - Commit stage

on:
  push:
    branches:
      - main
      - release/*
  pull_request:
    branches:
      - main
      - release/*
  workflow_dispatch:

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    name: Build and publish
    outputs:
      dockerImageTag: ${{ steps.dockerImageTag.outputs.tag }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 25
          cache: maven

      - name: Build
        run: mvn -B install -DskipITs

      - name: Accept stage
        run: mvn -B verify -pl acceptance-tests

      - name: Create docker image
        run: mvn spring-boot:build-image -pl :web-api -DskipTests

      - name: Extract application version
        run: echo "POM_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_ENV

      - name: Create Docker image tag
        run: echo "DOCKER_IMAGE_TAG=$(date +'%Y%m%d%H%M%S')-${GITHUB_SHA}" >> $GITHUB_ENV

      - name: Publish Docker image to registry
        working-directory: deployment
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login --username "${{ secrets.DOCKER_USERNAME }}" --password-stdin
          docker push jebla/springboot-exploration:latest
